<p>employees works!</p>
<section style="height: 200px;border: 2px solid gray;" *ngIf="hasEmpDatails">
  <div class="container-fluid">
    <div class="row">
        <div class="col-12">
            {{ empDetails | json}}
        </div>
    </div>
  </div>
</section>
<section style="min-height: 200px;border: 2px solid gray;">
  <div class="container-fluid">
    <div class="row">
        <div class="col-12">
          <h3>Add New User</h3>
           <form id="employeeForm" [formGroup]="employeeForm" (ngSubmit)="submitEmpForm()">
            <div class="mb-3">
              <label for="firstName" class="form-label">First Name</label>
              <input type="text" class="form-control" formControlName="firstName" id="firstName"
               placeholder="Enter first name" [ngClass]="{ 'is-invalid': isSubmitted && f['firstName']['errors'] }"
               >
               <div *ngIf="isSubmitted && f['firstName']['errors']" class="error-box">
                <div *ngIf="f['firstName']['errors']['required']">First Name is required</div>
                <div *ngIf="f['firstName']['errors']['minlength']"> Enter min 3 letters</div>
                <div *ngIf="f['firstName']['errors']['maxlength']"> Enter max 10 letters</div>
            </div>
            
            </div>
            <div class="mb-3">
              <label for="lastName" class="form-label">Last Name</label>
              <input type="text" class="form-control" formControlName="lastName" id="lastName" placeholder="Enter Last name"
              [ngClass]="{ 'is-invalid': isSubmitted && f['lastName']['errors'] }">
              <div *ngIf="isSubmitted && f['lastName']['errors']" class="error-box">
                <div *ngIf="f['lastName']['errors']['required']">First Name is required</div>
                <div *ngIf="f['lastName']['errors']['minlength']"> Enter min 3 letters</div>
            </div>
            </div>
            <div class="mb-3">
              <label for="emailId" class="form-label">Email Id</label>
              <input type="text" class="form-control" formControlName="emailId" id="emailId" placeholder="Enter Last name" 
              [ngClass]="{ 'is-invalid': isSubmitted && f['emailId']['errors'] }">
              <div *ngIf="isSubmitted && f['emailId']['errors']"  class="error-box">
                <div *ngIf="f['emailId']['errors']['required']">Email Id is required</div>
                <div *ngIf="f['emailId']['errors']['email']">Enter valid emaail</div>
            </div>
            </div>
            <div class="mb-3">
              <label for="phoneNo" class="form-label">Phone No</label>
              <input type="text" class="form-control" formControlName="phoneNo" id="phoneNo" placeholder="Enter Last name" 
              [ngClass]="{ 'is-invalid': isSubmitted && f['phoneNo']['errors'] }">
              <div *ngIf="isSubmitted && f['phoneNo']['errors']" class="error-box">
                <div *ngIf="f['phoneNo']['errors']['required']">Phone No is required</div>
                <div *ngIf="f['phoneNo']['errors']['minlength']"> Enter 10 digits valid phone no</div>
                <div *ngIf="f['phoneNo']['errors']['maxlength']"> Enter 10 digits valid phone no</div>
            </div>
            </div>
            <div class="mb-3" formGroupName="address">
              <label for="" class="form-label">Address</label>
              <input type="text" class="form-control" formControlName="state"  placeholder="State">
              <input type="text" class="form-control" formControlName="district" placeholder="district">
              <input type="text" class="form-control" formControlName="city" placeholder="City">
              <input type="text" class="form-control" formControlName="zipcode" placeholder="zipcode">
             
            </div>
            <div class="mb-3">
              <label for="status" class="form-label">Status</label>
              <select class="form-select" formControlName="status" aria-label="Default select example" id="status"
              [ngClass]="{ 'is-invalid': isSubmitted && f['status']['errors'] }">
                <option value="" selected>--Select Status</option>
                <option [value]="item" *ngFor="let item of empStatus; let i = index">{{item | titlecase}}</option>
              </select>
              <div *ngIf="isSubmitted && f['status']['errors']" class="error-box">
                <div *ngIf="f['status']['errors']['required']">Status is required</div>
            </div>
            </div>
            <div class="mb-3">
              <button type="submit" class="btn btn-primary btn-sm">Submit</button>
            </div>
           </form>
        </div>
    </div>
  </div>
</section>

{{ empList.length }}
<!-- <select class="form-select" aria-label="Default select example">
  <option selected>---Select Country--</option>
  <option [value]="item" *ngFor="let item of countryList; let i = index">
    {{ item }}
  </option>
</select> -->

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email Id</th>
      <th scope="col">Phone No</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="empList.length > 0">
      <tr *ngFor="let item of empList; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <ng-container [ngSwitch]="item.status">
          <ng-container *ngSwitchCase="'success'">
            <td [ngStyle]="{'font-size':'20px','color':'green'}"
            >{{ item.firstName }}</td>
          </ng-container>
          <ng-container *ngSwitchCase="'pending'">
            <td [ngStyle]="{'font-size':'20px','color':'blue'}"
            >{{ item.firstName }}</td>
          </ng-container>
          <ng-container *ngSwitchCase="'inProgress'">
            <td [ngStyle]="{'font-size':'20px','color':'red'}"
            >{{ item.firstName }}</td>
          </ng-container>
          <ng-container *ngSwitchCase="'review'">
            <td [ngStyle]="{'font-size':'20px','color':'yellow'}"
            >{{ item.firstName }}</td>
          </ng-container>
        </ng-container>
        
        <td>{{ item.lastName }}</td>
        <td>{{ item.emailId }}</td>
        <td>{{ item.phoneNo }}</td>
        <td>
          <!-- 
          <ng-container *ngIf="item.status == 'success'">
            <button type="button" class="btn btn-success btn-sm">
              Success
            </button>
          </ng-container>
          <ng-container *ngIf="item.status == 'pending'">
            <button type="button" class="btn btn-danger btn-sm">Pending</button>
          </ng-container>
          <ng-container *ngIf="item.status == 'inProgress'">
            <button type="button" class="btn btn-primary btn-sm">
              In Progress
            </button>
          </ng-container>
          <ng-container *ngIf="item.status == 'review'">
            <button type="button" class="btn btn-info btn-sm">
              Under review
            </button>
          </ng-container> -->

          <ng-container [ngSwitch]="item.status">
            <ng-container *ngSwitchCase="'success'">
              <button type="button" class="btn btn-success btn-sm">
                Success
              </button>
            </ng-container>
            <ng-container *ngSwitchCase="'pending'">
              <button type="button" class="btn btn-dark btn-sm">Pending</button>
            </ng-container>
            <ng-container *ngSwitchCase="'inProgress'">
              <button type="button" class="btn btn-primary btn-sm">
                In Progress
              </button>
            </ng-container>
            <ng-container *ngSwitchCase="'review'">
              <button type="button" class="btn btn-info btn-sm">
                Under review
              </button>
            </ng-container>
          </ng-container>
        </td>
        <td>
          <button type="button" class="btn btn-primary btn-sm" id="123" [attr.my-data]="item.status"
          >Edit</button>
          <button type="button" class="btn btn-success btn-sm" id="123" (click)="viewEmployee(i, item)" [attr.my-data]="item.status">View</button>
          <button type="button" class="btn btn-danger btn-sm" id="123" (click)="deleteEmployee(i, item)" [attr.my-data]="item.status">Delete</button>
        </td>
      </tr>
    </ng-container>

    <ng-container *ngIf="empList.length == 0">
      <tr>
        <td colspan="4">Employee record not fount</td>
      </tr>
    </ng-container>
  </tbody>
</table>
