<!-- <p>products works!</p>
<h4>{{userName}}</h4>
<h4>{{userMobileNo}}</h4>
<h4>{{isUserActive}}</h4>
<h4>{{countryList}}</h4>

<button type="button" class="btn btn-primary" (click)="updateUserName('Welcome dear user')">Click Me</button><br>


<img [src]="productImg" alt=""  class="product-img">
<img src="{{productImg}}" alt=""  class="product-img"> -->
<!-- {{productList | json}} -->
<!-- <p>{{empDetaile | json}}</p> -->
{{empData | json}}


<div class="container-fluid">
    <div class="row">
        <ng-container *ngFor="let item of productList; let i =index; trackBy:trackProducts">
            <div class="col-sm-12 col-md-2 col-lg-2">
                <div class="card">
                    <img [src]="item.productImg" class="card-img-top" alt="">
                    <div class="card-body">
                      <!-- <h5 class="card-title">{{item.productName | titlecase}}</h5> -->
                      <h5 class="card-title">{{item.productName | uppercase | slice:0:2}}</h5>
                      <p>{{item.createdAt | date:"MMM d, y, h:mm:ss a"}}</p>
                      <p [ngClass]="item.isActive ? 'btn btn-success':'btn btn-danger'">{{item.isActive ? 'Active':'InActive'}}</p>
                     <button type="button" class="btn btn-sm btn-primary">View</button>

                      <p>22442</p> 
                    </div>
                  </div>
              </div>
        </ng-container>
      
    </div>
  </div>

  <div [ngSwitch]="'employee'">
    <div *ngSwitchCase="'user'">User content</div>
    <div *ngSwitchCase="'employee'">Employee content</div>
    <div *ngSwitchDefault>Please provide valid option</div>
</div>
